@model  IEnumerable<Data.Models.DropDownModel>
<option value="">-- Select --</option>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>

    }
}

